@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prm-clr: #0070f3;
  --bcg-clr: #333;
  --clr: #fff;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bcg-clr);
  color: var(--clr);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
